.banner {

  &__item {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $screen-md) {
      padding-top: 90px;
      padding-bottom: 125px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 190px;
      padding-bottom: 199px;
    }

    p {
      margin-bottom: 3px;
      width: auto;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;

      @media (min-width: $screen-md) {
        margin-bottom: 3px;
        font-size: 30px;
      }

      @media (min-width: $screen-lg) {
        margin-left: 50px;
      }

      &:last-child {
        font-size: 22px;
        font-weight: 700;

        @media (min-width: $screen-md) {
          font-size: 28px;
        }
      }

      span {
        display: inline-block;
        padding: 5px 15px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__container {
    position: relative;
    margin: 0 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      margin: 0 auto;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      width: 1024px;
    }
  }
}
