.bottom-menu {
  padding: 40px 0;

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;

    @media (min-width: $screen-md) {
      margin-right: 20px;
      margin-bottom: 0;
      width: auto;
      text-align: left;
    }

    @media (min-width: $screen-lg) {
      margin-right: 50px;
    }
  }

  &__icons {
    display: flex;
    order: 2;

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__icon {
    display: inline-flex;
    margin-top: -3px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: $second-color;

    svg {
      margin: auto;
      fill: #fff;
    }

    &--label {
      display: none;

      @media (min-width: $screen-lg) {
        display: inline-flex;
        transform: scale(-1, 1);
        margin-right: 5px;
      }
    }

    &--basket {

      @media (min-width: $screen-lg) {
        margin-right: 13px;
      }
    }
  }

  &__counter {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: $gray;
      font-weight: 700;
    }
  }
}
