.features {
  padding: 20px 0;
  background-color: $main-color;

  &__container {
    padding: 0 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      margin: 0 auto;
      padding: 0;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 auto;
      width: 1024px;
    }
  }

  &__row {

    @media (min-width: $screen-md) {
      display: flex;
      margin: 0 -40px;
    }
  }

  &__col {
    width: 100%;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      padding: 0 40px;
      width: 50%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-img {
    display: flex;
    margin-right: 20px;
    min-width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;

    @media (min-width: $screen-md) {
      min-width: 65px;
      min-height: 65px;
    }

    svg {
      margin: auto;
      fill: $main-color;
    }

    &--truck {
      transform: scale(-1, 1);
    }
  }

  &__item-text {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 21px;
    }
  }
}
