.menu-list {
  margin-left: -15px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $screen-lg) {
    margin-left: auto;
    margin-bottom: 0;
  }

  &__link {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 0 15px;
    border-right: 1px solid #fff;
    white-space: nowrap;

    &--last {
      padding: 0 0 0 15px;
      border-right: 0;
    }
  }
}
