.page-footer {
  padding: 20px 0;
  background-color: $third-color;

  &__container {
    padding: 0 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      margin: 0 auto;
      padding: 0;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 auto;
      width: 1024px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__copuright,
  &__link {
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: capitalize;
    color: lighten($fourth-color, 20%);
  }

  &__copuright {

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-flex;

    @media (min-width: $screen-lg) {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 0;
    }

    &--first {

      @media (min-width: $screen-lg) {
        padding-left: 0;
      }
    }
  }

  &__item {
    margin-bottom: 5px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      border-right: 1px solid $fourth-color;
    }

    &:last-child {

      @media (min-width: $screen-lg) {
        border-right: 0;
      }
    }
  }
}
