.page-header {

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      margin: 0 auto;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 auto;
      width: 1024px;
    }
  }
}
