.product-card {
  margin-bottom: 28px;
  padding: 10px 10px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &.new,
  &.sale {
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 15px;
      display: block;
      padding-top: 5px;
      width: 250px;
      height: 35px;
      color: #fff;
      box-sizing: border-box;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &.new {

    &:before {
      right: -85px;
      content: 'new';
      background-color: $main-color;
      transform: rotate(45deg);
    }
  }

  &.sale {

    &:before {
      left: -85px;
      content: 'sale';
      background-color: $second-color;
      transform: rotate(-45deg);
    }
  }

  &__img {
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    color: $gray-dark;
  }

  &__price {
    font-size: 18px;
    color: $second-color;

    span {
      color: #000;
      font-size: 14px;
      text-decoration: line-through;
    }
  }

  &__btn {
    display: flex;
    width: 47px;
    height: 47px;
    border: 0;
    border-radius: 50%;
    background-color: $second-color;

    svg {
      margin: auto;
      fill: #fff;
    }
  }
}
