.products {

  &__title {
    color: $gray-dark;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__row {
    display: flex;
    margin: 0 -14px;
    padding-top: 15px;
    flex-wrap: wrap;
  }

  &__col {
    width: 33.333333%;
    padding: 0 14px;
  }
}
