.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  padding: 0;
  border: 0;
  width: 65px;
  height: 65px;
  font: 0/0 a;
  color: transparent;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-prev {
  left: 95px;
  transform: rotate(180deg);
}

.slick-next {
  right: 95px;
}

