.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 40px;
  z-index: 1;
  margin-top: auto;
  padding: 0;
  border: 0;
  width: 45px;
  height: 45px;
  font: 0/0 a;
  color: transparent;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $screen-md) {
    width: 65px;
    height: 65px;
  }

  @media (min-width: $screen-lg) {
    bottom: 0;
    margin: auto;
  }
}

.slick-prev {
  left: 60px;
  transform: rotate(180deg);
}

.slick-next {
  right: 60px;
}

