.toggle {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-color: transparent;

  @media (min-width: $screen-md) {
    display: none;
  }

  span {
    display: block;
    margin-bottom: 4px;
    width: 30px;
    height: 3px;
    background-color: $gray;
  }
}
