$main-color:          #4cb1ca; //голубой
$second-color:        #7db122; //зелёный

$text-color:          #000;

$gray:                #656565;
$gray-light:          #c6c6c6;

$font-family:         'Open Sans', Helvetica Neue, sans-serif;
$font-size:           14px;

$screen-sm:           320px;
$screen-md:           840px;
$screen-lg:           1280px;

