$main-color:          #4cb1ca; //голубой
$second-color:        #7db122; //зелёный
$third-color:         #0b4b5a;
$fourth-color:        #39a0b9;

$text-color:          #000;

$gray:                #656565;
$gray-lighter:        #ededed;
$gray-light:          #c6c6c6;
$gray-dark:           #635f57;

$font-family:         'Open Sans', Helvetica Neue, sans-serif;
$font-size:           14px;

$screen-sm:           320px;
$screen-md:           840px;
$screen-lg:           1280px;

